<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.greentouch_demo_app">

    <!-- 필수 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MainApplication"
        android:label="@string/app_name"
        android:icon="@drawable/logo_symbol"
        android:roundIcon="@drawable/logo_symbol"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
 
        <!-- 메인 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Notifee Foreground Service -->
        <service
            android:name=".foregroundService.ForegroundService"
            android:foregroundServiceType="specialUse"
            android:enabled="true"
            android:exported="false" />

        <!-- Broadcast Receiver -->
        <receiver android:name=".BootReceiver" android:exported="false" android:enabled="true">
            <intent-filter>
                <!-- 네트워크 상태 변경 이벤트 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- 기기 부팅 완료 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
